@page "/"
@using SheddingCardGames
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using System.Drawing
@using Blazor.Extensions.Canvas.Model
@using SheddingCardGames.Domain
@using SheddingCardGames.UiLogic
@using Action = SheddingCardGames.Domain.Action

@inject IJSRuntime JsRuntime;
<h1>Crazy Eights</h1>

<img @ref="cardsSpriteSheet" hidden src="assets/Cards.png" />

<div id="canvasContainer" style="position: fixed; opacity: 1; background-color: black; width: 100%; height: 100%">
    <BECanvas Width="1200" Height="800" @ref="canvas"></BECanvas>
</div>

@code {
    BECanvasComponent canvas = null;
    Canvas2DContext context;
    ElementReference cardsSpriteSheet;

    private BlazorGameController gameController;
    private CardCollection deck;
    readonly GameTime gameTime = new GameTime();
    IGameObject gameObjectMouseDown;

    private int screenWidth = 1200;
    private int screenHeight = 800;
    private Config config;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            context = await canvas.CreateCanvas2DAsync();
            await context.SetTextBaselineAsync(TextBaseline.Top);

            await JsRuntime.InvokeAsync<object>("initGame", DotNetObjectReference.Create(this));

            IDeckBuilder deckBuilder;
            deckBuilder = new SpecificDeckBuilder(new Card(1, Suit.Hearts),
                new CardCollection(new Card(1, Suit.Spades)), 
                new CardCollection(new Card(8, Suit.Hearts), new Card(1, Suit.Clubs), new Card(2, Suit.Clubs), new Card(3, Suit.Clubs), new Card(4, Suit.Clubs), new Card(5, Suit.Clubs), new Card(6, Suit.Clubs), new Card(7, Suit.Clubs)), 
                new CardCollection(new Card(8, Suit.Spades), new Card(1, Suit.Diamonds), new Card(2, Suit.Diamonds), new Card(3, Suit.Diamonds), new Card(4, Suit.Diamonds), new Card(5, Suit.Diamonds), new Card(6, Suit.Diamonds), new Card(7, Suit.Diamonds)));

            //deckBuilder = new MinimalDeckBuilder();
            //deckBuilder = new DeckBuilder();
            deck = deckBuilder.Build();

            var game = new CrazyEightsGameBuilder().Build(VariantName.OlsenOlsen, 2);
            //var game = new SpecificGameBuilder(). Build(deck);

            config = new Config();
            var inGameUiBuilder = new InGameUiBuilder(config, context, cardsSpriteSheet);
            gameController = new BlazorGameController(inGameUiBuilder, game, deck, new ActionResultMessageMapper());
            gameController.UiState = new NewUiBuilder(config, gameController).BuildNewUiState();
        }
    }

    private async ValueTask Update(int screenWidth, int screenHeight)
    {
        var uiState = gameController.UiState;

        if (gameObjectMouseDown != null)
        {
            if (InputSystem.Instance.GetButtonState(MouseButtons.Left) == ButtonStates.Up)
            {
                if (gameObjectMouseDown.IsHit(InputSystem.Instance.MouseCoords))
                {
                    await gameObjectMouseDown.Update(new InputState(true, InputSystem.Instance.MouseCoords));
                    gameObjectMouseDown = null;
                }
            }
        }
        else
        {
            foreach (var gameObject in uiState.GameObjects.Where(x => x.IsVisible))
            {
                await gameObject.Update(new InputState(false, InputSystem.Instance.MouseCoords));
            }

            if (InputSystem.Instance.GetButtonState(MouseButtons.Left) == ButtonStates.Down)
            {
                foreach (var gameObject in uiState.GameObjects.Where(x => x.IsVisible))
                {
                    if (gameObject.IsHit(InputSystem.Instance.MouseCoords))
                    {
                        gameObjectMouseDown = gameObject;
                    }
                }
            }
        }

        if (gameController.UiState.CurrentGamePhase == GamePhase.New)
            return;

        var currentTable = gameController.UiState.CurrentTable;

        // Update Cards
        var stockPileCard = currentTable.StockPile.Cards.First();
        var stockPileGameObject = uiState.CardGameObjects[stockPileCard];
        stockPileGameObject.OnClick = () => gameController.Take();
        stockPileGameObject.IsTurnedUp = false;
        stockPileGameObject.SetX(config.StockPileSection.X);
        stockPileGameObject.SetY(config.StockPileSection.Y);
        stockPileGameObject.IsVisible = true;

        var discardCard = gameController.UiState.CurrentTable.DiscardPile.CardToMatch;
        var discardCardGameObject = uiState.CardGameObjects[discardCard];
        discardCardGameObject.IsTurnedUp = true;
        discardCardGameObject.SetX(config.DiscardPileSection.X);
        discardCardGameObject.SetY(config.DiscardPileSection.Y);
        discardCardGameObject.IsVisible = true;

        for (int i = 0; i < currentTable.Players[1].Hand.Cards.Count(); i++)
        {
            var card = currentTable.Players[1].Hand.Cards.ElementAt(i);
            var x = (i * config.CardWidth) + config.TopPlayerHandSection.X;
            var cardObject = uiState.CardGameObjects[card];
            cardObject.IsTurnedUp = true;
            cardObject.SetX(x);
            cardObject.SetY(config.TopPlayerHandSection.Y);
            cardObject.IsVisible = true;
        }

        for (int i = 0; i < currentTable.Players[0].Hand.Cards.Count(); i++)
        {
            var card = currentTable.Players[0].Hand.Cards.ElementAt(i);
            var x = (i * config.CardWidth) + config.BottomPlayerHandSection.X;
            var cardObject = uiState.CardGameObjects[card];
            cardObject.IsTurnedUp = true;
            cardObject.SetX(x);
            cardObject.SetY(config.BottomPlayerHandSection.Y);
            cardObject.IsVisible = true;
        }

        // Update Buttons
        if (gameController.CurrentTurn.CurrentAction == Action.SelectSuit)
        {
            gameController.Buttons[ButtonNames.Clubs].Show();
            gameController.Buttons[ButtonNames.Diamonds].Show();
            gameController.Buttons[ButtonNames.Hearts].Show();
            gameController.Buttons[ButtonNames.Spades].Show();
        }
        else
        {
            gameController.Buttons[ButtonNames.Clubs].Hide();
            gameController.Buttons[ButtonNames.Diamonds].Hide();
            gameController.Buttons[ButtonNames.Hearts].Hide();
            gameController.Buttons[ButtonNames.Spades].Hide();
        }

        var takeButton = gameController.Buttons[ButtonNames.Take];

        if (gameController.CurrentTurn.CurrentAction == Action.Take)
            takeButton.Show();
        else
            takeButton.Hide();


        // Update Labels
        gameController.Labels[LabelNames.Turn].Show($"Turn {gameController.CurrentTurn.TurnNumber}");

        var playerToPlayLabel = gameController.Labels[LabelNames.PlayerToPlay];
        if (gameController.CurrentTurn != null && gameController.CurrentTurn.HasWinner)
        {
            playerToPlayLabel.Show($"{gameController.CurrentTurn.Winner.Name} has won!");
            return;
        }

        playerToPlayLabel.Label = $"{gameController.CurrentTurn.PlayerToPlay.Name} to {gameController.CurrentTurn.CurrentAction}";

        var selectedSuitLabel = gameController.Labels[LabelNames.SelectedSuit];

        if (gameController.CurrentTurn?.SelectedSuit == null)
            selectedSuitLabel.Hide();
        else
            selectedSuitLabel.Show($"Selected Suit: {gameController.CurrentTurn.SelectedSuit}");

        var invalidPlayLabel = gameController.Labels[LabelNames.InvalidPlay];
        if (uiState.HasError)
            invalidPlayLabel.Show(uiState.ErrorMessage);
        else
            invalidPlayLabel.Hide();
    }

    private async ValueTask Render(int screenWidth, int screenHeight)
    {
        await context.SetFillStyleAsync(config.BackgroundColour);
        await context.FillRectAsync(0, 0, screenWidth, screenHeight);

        foreach (var visibleGameObject in gameController.UiState.GameObjects.Where(x => x.IsVisible))
            await visibleGameObject.Render(context);

    }

    [JSInvokable]
    public async ValueTask GameLoop(float timeStamp)
    {
        gameTime.TotalTime = timeStamp;

        await Update(screenWidth, screenHeight);
        await Render(screenWidth, screenHeight);
    }

    [JSInvokable]
    public async ValueTask OnMouseMove(int mouseX, int mouseY)
    {
        InputSystem.Instance.MouseCoords.X = mouseX;
        InputSystem.Instance.MouseCoords.Y = mouseY;
    }

    [JSInvokable]
    public async ValueTask OnMouseDown(MouseButtons button)
    {
        InputSystem.Instance.SetButtonState(button, ButtonStates.Down);
    }

    [JSInvokable]
    public async ValueTask OnMouseUp(MouseButtons button)
    {
        InputSystem.Instance.SetButtonState(button, ButtonStates.Up);
    }
}
